.textBox {
    margin-bottom: 10px;
    height: 20px;
    width: 70%;
    border-radius: 5px;
    box-shadow: 2px 2px 2px 0px #999;
}
.textBox-medium {
    margin-bottom: 10px;
    height: 20px;
    width: 50%;
    border-radius: 5px;
    box-shadow: 2px 2px 2px 0px #999;
}
.textBox-short {
    margin-bottom: 10px;
    height: 20px;
    width: 30%;
    border-radius: 5px;
    box-shadow: 2px 2px 2px 0px #999;
}
.select {
    margin-bottom: 10px;
    height: 20px;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 2px 2px 2px 0px #999;
}
.button {
    box-shadow: 2px 2px 2px 0px #999;
    margin-left: 10%;
    margin-bottom: 3%;
    width: 20%;
    height: 20%;
    border-radius: 5px;
}
h2#title{
	font-size: 35px;
	margin-left: 36%;
	margin-bottom: 20px;
    text-align:center;
}