<?xml version="1.0"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="BD-UNIVConnectionString" connectionString="Data Source=DESKTOP-PF6O06G\JMARTINEZ;Initial Catalog=PRDPSMVAL;Integrated Security=False;database=PRDPSMVAL;uid=sa;password=root;" providerName="System.Data.SqlClient"/>
    <add name="SISTEMA_DOBEConnectionString" connectionString="Data Source=DESKTOP-PF6O06G\JMARTINEZ;Initial Catalog=SISTEMA_DOBE;Integrated Security=False;database=SISTEMA_DOBE;uid=sa;password=root;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <authorization>
      <allow users="*" />
    </authorization>
    <compilation debug="true" targetFramework="4.5"/>
  </system.web>
</configuration>